.grille-cours {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;

    section {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;

        h1 {
            flex: 0 0 auto;
            padding: 1rem;
        }

        div {
            display: flex;
            flex-direction: row;
            flex: 1 1 0;
            article {
                text-align: center;
                flex: 1 1;
                border: 1px solid gray;
                margin: 10px;
                padding: 2rem;
                
                p {
                    display: none;
                }

                .sigle {
                    display: block;
                    transform: rotateZ(90deg);
                }

            }
            @media (min-width: 1200px) {
                article {
                    p {
                        display: block;
                    }

                    .sigle {
                        display: block;
                        transform: rotateZ(0deg);
                    }
                }
            }
            
        }
    }
}